<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Cindy &amp; Anton's Wedding</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/justified-nav.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="masthead">
        <div class="text-center">
          <img id="logo" src="images/logo.png" alt="Cindy &amp; Anton's Wedding"/>
        </div>
        <h3 class="text-center">August 30th, 2014</h3>
        <div class="nav-wrapper hidden-xs">
          <ul class="nav nav-justified">
            <li class="active"><a href="#our-story">Our Story</a></li>
            <li><a href="#wedding-party">Wedding Party</a></li>
            <li><a href="#ceremony">Ceremony</a></li>
            <li><a href="#reception">Reception</a></li>
            <li><a href="#rsvp">RSVP</a></li>
            <li><a href="#accommadations">Accommadations</a></li>
          </ul>
        </div>
        <select id="nav-select" class="visible-xs">
          <option value="#our-story">Our Story</option>
          <option value="#wedding-party">Wedding Party</option>
          <option value="#ceremony">Ceremony</option>
          <option value="#reception">Reception</option>
          <option value="#rsvp">RSVP</option>
          <option value="#accommadations">Accommadations</option>
        </select>
      </div>

      <div id="content"></div>
    </div> <!-- /container -->

    <!-- Templates -->

    <script id="our-story" type="text/html">
      <h1>Our Story</h1>
      <div class="vimeo-wrapper">
        <iframe src="http://player.vimeo.com/video/43713894?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </script>

    <script id="wedding-party" type="text/html">
      <h1>Wedding Party</h1>
      <table class="table table-condensed">
        <tr>
          <td class="bride" id="cindy">
            <div class="bio-photo view-bio" data-person="cindy"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="cindy" alt="Cindy Vuong">Cindy Vuong</a></h2>
              <p>Bride</p>
            </div>
          </td>
          <td class="groom" id="anton">
            <div class="bio-photo view-bio" data-person="anton"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="anton" alt="Anton Nguyen">Anton Nguyen</a></h2>
              <p>Groom</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bride" id="karen">
            <div class="bio-photo view-bio" data-person="karen"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="karen" alt="Karen Sandhu">Karen Sandhu</a></h2>
              <p>Maid of Honour</p>
            </div>
          </td>
          <td class="groom" id="tenniel">
            <div class="bio-photo view-bio" data-person="tenniel"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="tenniel" alt="Tenniel Chan">Tenniel Chan</a></h2>
              <p>Best Man</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bride" id="sandra">
            <div class="bio-photo view-bio" data-person="sandra"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="sandra" alt="Sandra Wainwright">Sandra Wainwright</a></h2>
              <p>Bridesmaid</p>
            </div>
          </td>
          <td class="groom" id="trung">
            <div class="bio-photo view-bio" data-person="trung"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="trung" alt="Trung Diep">Trung Diep</a></h2>
              <p>Groomsmen</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bride" id="julie">
            <div class="bio-photo view-bio" data-person="julie"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="julie" alt="Julie Wainwright">Julie Wainwright</a></h2>
              <p>Bridesmaid</p>
            </div>
          </td>
          <td class="groom" id="alphonse">
            <div class="bio-photo view-bio" data-person="alphonse"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="alphonse" alt="Alphonse Nguyen">Alphonse Nguyen</a></h2>
              <p>Groomsmen</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bride" id="ann">
            <div class="bio-photo view-bio" data-person="ann"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="ann" alt="Ann Hui">Ann Hui</a></h2>
              <p>Bridesmaid</p>
            </div>
          </td>
          <td class="groom" id="ramiro">
            <div class="bio-photo view-bio" data-person="ramiro"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="ramiro" alt="Ramiro Chamorro">Ramiro Chamorro</a></h2>
              <p>Groomsmen</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="bride" id="vanessa">
            <div class="bio-photo view-bio" data-person="vanessa"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="vanessa" alt="Vanessa Ramawad">Vanessa Ramawad</a></h2>
              <p>Bridesmaid</p>
            </div>
          </td>
          <td class="groom" id="ted">
            <div class="bio-photo view-bio" data-person="ted"></div>
            <div class="bio hidden-xs">
              <h2><a class="view-bio" data-person="ted" alt="Ted Chan">Ted Chan</a></h2>
              <p>Groomsmen</p>
            </div>
          </td>
        </tr>
      </table>
    </script>
    <script id="base-modal" type="text/html">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="bio-photo"></div>
            <h3 class="modal-name">Name</h4>
            <h4 class="modal-title">Title</h4>
          </div>
          <div class="modal-body">
            Content
          </div>
        </div>
      </div>
    </script>
    <script id="ceremony" type="text/html">
      <div class="row">
        <div class="col-md-6 text-center info">
          <h1>Ceremony</h1>
          <h2>St. Anthony of Padua Catholic Church</h2>
          <p class="address">
            940 North Drive Park<br/>
            Brampton, Ontario<br/>
            L6S 3L5
          </p>
          <p class="em">Ceremony commences at one&apos;clock in the afternoon</p>
        </div>
        <div class="map col-md-6">
          <div id="map-ceremony" class="map"></div>
        </div>
      </div>
    </script>

    <script id="reception" type="text/html">
      <div class="row">
        <div class="col-md-6 text-center info">
          <h1>Reception</h1>
          <h2>Riviera Parque Dining,<br/>Banquet &amp; Convention Centre</h2>
          <p class="address">
            2800 Hwy 7<br/>
            Concord, Ontario<br/>
            L4K 1W8
          </p>
          <p class="em">Cocktail reception at six o&apos;clock in the evening</p>
          <p class="em">Dinner at seven o&apos;clock</p>
        </div>
        <div class="map col-md-6">
          <div id="map-reception" class="map"></div>
        </div>
      </div>
    </script>

    <script id="rsvp" type="text/html">
      <h1>RSVP</h1>
    </script>

    <script id="accommadations" type="text/html">
      <div class="text-left">
        <h1>Accommadations</h1>
        <p>
            For your reference, the following is a list of hotels located close to the reception hall.
            Please make arrangements for both accommodation and transportation in advance if you are
            planning on drinking.
        </p>
        <div class="hotels">
          <div id="homewood" class="hotel-content">
            <div class="hotel-photo hidden-xs"></div>
            <div class="hotel-info">
              <a href="http://homewoodsuites3.hilton.com/en/hotels/ontario/homewood-suites-by-hilton-toronto-vaughan-YYZVGHW/index.html" target="_blank">
                Homewood Suites by Hilton Toronto Vaughan
              </a><br/>
              618 Applewood Crescent,
              Vaughan, Ontario, L4K 4B4<br/>
              <a href="tel:+19057601660">1.905.760.1660</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div id="element" class="hotel-content">
            <div class="hotel-photo hidden-xs"></div>
            <div class="hotel-info">
              <a href="http://www.elementvaughansouthwest.com/" target="_blank">
                Element Vaughan Southwest
              </a><br/>
              6170 Highway 7
              Vaughan, Ontario L4H 0R2<br/>
              <a href="tel:+18773536368">1.877.353.6368</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div id="springhill" class="hotel-content">
            <div class="hotel-photo hidden-xs"></div>
            <div class="hotel-info">
              <a href="http://www.marriott.com/hotels/travel/yyzsv-springhill-suites-toronto-vaughan/" target="_blank">
                SpringHill Suites by Marriott Toronto Vaughan
              </a><br/>
              612 Applewood Crescent
              Vaughan, Ontario, L4K 4B4<br/>
              <a href="tel:+19057609960">1.905.760.9960</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div id="aloft" class="hotel-content">
            <div class="hotel-photo hidden-xs"></div>
            <div class="hotel-info">
              <a href="http://www.aloftvaughanmills.com/" target="_blank">
                Aloft Vaughan Mills
              </a><br/>
              151 Bass Pro Mills Drive
              Vaughan, Ontario L4K 0E6<br/>
              <a href="tel:+18667168143">1.866.716.8143</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div id="novotel" class="hotel-content">
            <div class="hotel-photo hidden-xs"></div>
            <div class="hotel-info">
              <a href="http://www.novotelvaughan.ca/" target="_blank">
                Novotel Toronto Vaughan Centre
              </a><br/>
              200 Bass Pro Mills Dr.
              Vaughan, Ontario L4K 0B9<br/>
              <a href="tel:+19056600212">1.905.660.0212</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </script>

    <script id="not-found" type="text/html">
      <h1>This is not the wedding page you&apos;re looking for.</h1>
      <img src="images/404.jpg"/>
    </script>

    <!-- Scripts -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1ZXRlRrjuXhz09ISjsKgFKtXxRR2tiwE&sensor=true"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/views/Backbone.View.js"></script>
    <script type="text/javascript" src="js/views/ContentView.js"></script>
    <script type="text/javascript" src="js/views/MapView.js"></script>
    <script type="text/javascript" src="js/views/BaseModalView.js"></script>
    <script type="text/javascript" src="js/views/WeddingPartyView.js"></script>
    <script type="text/javascript" src="js/views/SelectorView.js"></script>
    <script type="text/javascript" src="js/ApplicationRouter.js"></script>
    <script type="text/javascript">
      var router = new ApplicationRouter($('#content'));
      Backbone.history.start();
      var selector = new SelectorView();
    </script>
  </body>
</html>
